{% extends "Admin.html.twig" %}
{% block editcategorie %}
<center><h1>Modification des Catégories</h1>
    {{ form_start(form) }}
    Nom du Catégorie : {{ form_widget(form.nom) }}
    <br><br>
    Type du Service :{{ form_widget(form.type) }}
    <br><br>
    {{ form_end(form) }}
</center>
{% endblock %}
